@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./images/main-wallpaper.jpg");
  background-size: 300vw 100vh;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (min-width: 880px) {
  body {
    background-size: 200vw 100vh;
  }
}

@media (min-width: 1280px) {
  body {
    background-size: 100vw 100vh;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-inline: 0.8em;
  margin-top: 0.4em;
  font-size: clamp(1rem, 4vw, 2rem);
}
nav img {
  filter: invert();
  width: 10em;
}
nav #hamburgerMenu {
  display: none;
}
nav ul {
  display: flex;
  gap: 1em;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: border-color 0.15s;
}
nav a:hover {
  border-color: white;
}
@media (max-width: 880px) {
  nav #hamburgerMenu {
    display: initial;
    font-size: clamp(2rem, 4vw, 4rem);
    margin-block: auto;
    position: absolute;
    right: 0;
    margin-right: 1em;
    margin-top: 1em;
  }
  nav #hamburgerMenu:hover {
    cursor: pointer;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }
  .nav-list {
    display: none;
    width: 100%;
  }
  .nav-list ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.2em;
  }
  .nav-list ul li {
    background-color: rgba(0, 0, 0, 0.307);
    transition: background-color 0.15s;
  }
  .nav-list ul li:hover {
    background-color: rgba(0, 0, 0, 0.592);
  }
  nav a:hover {
    border-color: transparent;
  }
}

.main-text {
  height: 80svh;
  color: white;
  text-align: center;
  max-width: 34em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text h1,
h2 {
  width: 100%;
  box-shadow: inset 1px 0px 50px 1px rgba(0, 0, 0, 0.307);
  background-color: rgba(0, 0, 0, 0.307);
}
.main-text h1 {
  font-size: 2.24rem;
}
.main-text h2 {
  font-size: 1.24rem;
}

/* snowfall */

.snow,
.snow:before,
.snow:after {
  z-index: -100;
  position: absolute;
  top: -500px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(
      6px 6px at 178px 177px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 341px 145px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 174px 162px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 442px 372px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 257px 255px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 331px 173px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 388px 300px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 288px 142px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 486px 224px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 62px 274px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 244px 259px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 374px 404px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 120px 276px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 19px 16px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 420px 449px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 95px 444px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 112px 287px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 332px 358px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 165px 104px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 341px 205px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 422px 134px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 470px 65px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 69px 178px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(4px 4px at 432px 289px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 292px 208px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 463px 40px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 123px 138px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 436px 102px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 443px 151px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 286px 57px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 336px 201px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 95px 37px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 452px 246px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 204px 309px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 252px 271px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 52px 451px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 227px 489px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 332px 475px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 192px 91px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 393px 67px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 114px 190px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 121px 292px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 369px 156px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 456px 229px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 104px 361px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 268px 438px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 99px 98px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 441px 157px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 152px 58px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 227px 142px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 244px 78px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 326px 54px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 329px 133px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 207px 496px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 330px 126px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 473px 50px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 171px 42px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 93px 390px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 251px 337px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 159px 293px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 489px 69px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(5px 5px at 363px 385px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 243px 317px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(5px 5px at 425px 338px, white 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 34px 422px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 62px 464px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 169px 51px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 40px 220px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 173px 394px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 262px 420px, white 50%, rgba(0, 0, 0, 0));
  background-size: 500px 500px;
  animation: snow 20s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -166.6666666667px;
  opacity: 0.4;
  animation-duration: 40s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 60s;
  animation-direction: reverse;
  margin-left: -250px;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(500px);
  }
}
